* {
    font-family: "ORF ON", Arial, Helvetica, Lucida Sans Unicode, Lucida Grande,
        sans-serif;
    font-feature-settings: "liga", "kern";
    --darkRed: #790000;
    --lightRed: #bb131a;
    --red: #9e0b0f;
    margin-top: 0;
}

body {
    background-color: #d6dcde;
}

.main {
    max-width: 875px;
    margin-left: 6.5%;
}

.header {
    display: flex;
    background-color: var(--red);
    height: auto;
    font-size: 0.9em;
    align-items: center;
    padding-right: 9px;
    font-weight: 550;
    color: white;
}

.logo {
    background-color: var(--lightRed);
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
    font-size: 1.5em;
    color: white;
}

.subheader {
    color: white;
    display: flex;
    background-color: var(--darkRed);
    height: 35px;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
}
.image {
    margin-top: 8px;
    background-color: darkgrey;
}

.list {
    justify-content: space-between;
    align-items: center;
    margin: 0 18px;
    padding: 0;
    height: 29px;
    outline: none;
    list-style-type: none;
    flex: 6;
}

.list > li {
    flex: 0 0 auto;
    display: inline-block;
    width: auto;
    margin: 1%;
}

.content {
    background-color: white;
    height: 400px;
    width: 640px;
    position: relative;
    top: -140px;
    margin: auto;
    padding: 30px;
    z-index: 69420;
}

.catergory {
    color: #84868c;
    font-weight: 500;
}

h1 {
    font-family: "ORF ON Condensed", "Helvetica Condensed",
        "Helvetica Neue Condensed", "Arial Narrow", Arial, Helvetica,
        Lucida Sans Unicode, Lucida Grande, sans-serif;
    line-height: 1.875rem;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 16px;
}
p {
    font-family: "ORF ON Condensed", "Helvetica Condensed",
        "Helvetica Neue Condensed", "Arial Narrow", Arial, Helvetica,
        Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 16px;
}
.back {
    background-color: white;
    width: 100%;
    height: 500px;
    position: relative;
    top: -528px;
}
